body { 
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    background-color: #888585;
} 

.timer { 
	position: absolute; 
	top: 15px; 
	right: 15px; 
} 

.button { 
	display: inline-block; 
	margin: 10px; 
	cursor: pointer; 
	color: #fff; 
	background-color: rgb(104, 24, 146); 
	border-radius: 5px; 
	border: 0; 
	padding: 10px; 
    text-decoration: none;
} 

.button:hover { 
	background-color: rgb(120, 23, 194);; 
} 

.button a {
    color: inherit;
    text-decoration: none;
    padding: inherit;
}

.container {
    border: 5px solid; 
	position: absolute; 
	top: 50%; 
	left: 50%; 
	height: auto; 
	width: 50%; 
	transform: translate(-50%, -50%); 
	padding: 10px; 
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}